.emaillist {
  flex: 1;
  overflow: scroll;
}

.emaillist__settings {
position: sticky;
top: 0;
display: flex;
justify-content: space-between;
border-bottom: 1 px solid whitesmoke;
background-color: white;
z-index: 999;
padding-right: 10px;

}

.emaillist__sections {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  z-index: 999;
}